[run]
source=neuralogic
omit=
    tests/
    examples/
    benchmarks/
    neuralogic/jar/*
    neuralogic/grammar/*
    neuralogic/utils/data/datasets/*
[report]
exclude_lines =
    raise
    except
