repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black
      entry: bash -c 'black "$@"; git add -u' --
